<h1>My Exercises</h1>
<table id="workoutTable">
    <thead>
        <tr>
            <th>Exercise</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Units</th>
            <th>Date</th>
            <th></th>
        </tr>
            <tr id="formRow">
                <td><input type="text" name="exerciseName" placeholder="name required" required></td>
                <td><input type="number" name="reps" min="0" max="999"></td>
                <td><input type="number" name="weight" min="0" max="999"></td>
                <td>
                    <input type="radio" name="units" value="lbs" checked> lbs
                    <input type="radio" name="units" value="kg"> kg
                </td>
                <td><input type="date" name="date"></td>
                <td><input type="button" name="addEdit" value="add" id="addEditButton"></td>
            </tr>
    </thead>
    <tbody id="workoutTBody">
        {{#if error}}
            <h3>{{error}}</h3>
        {{else}}
            {{#if exercises}}
                {{#each exercises}}
                    <tr data-id="{{this.id}}">
                        <td>{{this.name}}</td>
                        <td>{{#if this.reps}}{{this.reps}}{{/if}}</td>
                        <td>{{#if this.weight}}{{this.weight}}{{/if}}</td>
                        <td>{{#if this.units}}{{this.units}}{{/if}}</td>
                        <td>{{#if this.date}}{{this.date}}{{/if}}</td>
                        <td>
                            <input type="button" name="editRow" value="edit">
                            <input type="button" name="deleteRow" value="delete">
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        {{/if}}
    </tbody>
</table>
<script type="text/javascript" src="/scripts/workouts.js"></script>